# LaTeX temporary files
*.aux
*.log
*.toc
*.spl
 
# PDF output, we don't want this on git
*.pdf

#we might want to hold on to images we created for the paper
!/images/*.pdf
 
# SyncTeX
*.synctex.gz
 
# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out
 
# BibTeX
*.bbl
*.blg
*.bib.bak

_region_.tex
